html {
    background-color: #bababa;
    background-size: cover;
    height: 100%;
    font-family: Lato, "Helvetica Neue", Helvetica, Arial, sans-serif;
}

body {
    width: 90%;
    width: 90vw;
    margin: 1vh auto;
    color: black;
}

.version {
    font-size: small;
}

h1 {
    text-align: center;
    font-size: 2.5rem;
    color: #FFF;
}

.wrapper {
    display: flex;
    flex-direction: column;
}

.innerTop {
    flex-direction: row;
}

.elements {
    font-size: 1.15vw;
    width: 70%;
    float: left;
}

.not-clickable {
    color: transparent;
    filter: opacity(20%);
}

.key {
    display: none;
}

.row {
    display: flex;
    text-align: center;
    justify-content: space-around;
}

.f-block .row {
    justify-content: flex-end;
}

.element {
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 5vw;    /* NOT CORRECT */
    color: black;
    box-sizing: border-box;
    border-radius: 3px;
    border-width: 1px;
    border-style: solid;
    border-color: black;
    margin: 1px;
    text-decoration: none;
    transition: background-color 0.2s, transform 0.2s;
    aspect-ratio: 1;
}

.element.ptable:hover {
    box-shadow: 2px 2px 5px;
    transform: scale(1.1);

}

.element.clicked {
    box-shadow: 2px 2px 5px;
    transform: scale(1.2);
}

.empty-element {
    border-style: none;
}

.group-12 {
    background-color: #6480ba;
}

.group-12.ptable:hover {
    transform: scale(1.1);
    background-color: #6699ff;
}

.description.group-base {
    background-color: rgba(225, 170, 173, 0.5);
}

.description.group-base.ptable:hover {
    background-color: rgba(212, 132, 137, 0.8);
}

.key li.group-base:before {
    background-color: #d48489;
}

.hover-group-base .element {
    opacity: .5;
}

.hover-group-base .element.group-base {
    opacity: 1;
}

.group-transition {
    background-color: #eb4848;
}

.group-transition.ptable:hover {
    background-color: #f86c6c;
}

.group-nm {
    background-color: #ffcc00;
}

.group-nm.ptable:hover {
    background-color: #e1deaa;
}

.group-la {
    background-color: #00cc33;
}

.group-la.ptable:hover {
    background-color: #d7e1aa;
}

.detailedView {
    padding: 4%;
    width: 20%;
    display: inline-block;
    font-family: 'Times New Roman', Times, serif;
}

.detailedView .showcase {
    text-align: center;
    color: black;
    box-sizing: border-box;
    border-radius: 3px;
    border-width: 1px;
    border-style: solid;
    border-color: black;
    text-decoration: none;
    aspect-ratio: 1;
}

.detailedView .aNumber {
    font-size: 2.4vw;
    margin-top: 7%;
}

.detailedView .aName {
    font-size: 2.5vw;
    margin: 2%;
}

.detailedView .aSymbol {
    font-size: 4vw;
    font-weight: bold;
    margin: 2%;
}

.detailedView .aMass {
    font-size: 2vw;
    margin: 2%;
}

.detailedView .textInput {
    font-size: 1.2vw;
    margin: 2%;
}

.energyLevels {
    display: inline-block;
    margin: auto;
    width: 50%;
    text-align: center;
}

.orbital {
    margin-left: auto;
    margin-right: auto;
}

.energyLevels img {
    width: 8%;
    aspect-ratio: 1;
}

/* Component Needs */
@import url(https://fonts.googleapis.com/css?family=Droid+Serif:400,700);
@import url(https://fonts.googleapis.com/css?family=Raleway:100,400,700);

.pc-tab>input,
.pc-tab section>div {
    display: none;
}

#tab1:checked~section .tab1,
#tab2:checked~section .tab2,
#tab3:checked~section .tab3 {
    display: block;
}

#tab1:checked~nav .tab1,
#tab2:checked~nav .tab2,
#tab3:checked~nav .tab3 {
    color: red;
}

.pc-tab {
    width: 100%;
    max-width: 700px;
    margin: 0 auto;
}

.pc-tab ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.pc-tab ul li label {
    font-family: "Raleway";
    float: left;
    padding: 15px 25px;
    border: 1px solid #ddd;
    border-bottom: 0;
    background: #eeeeee;
    color: #444;
}

.pc-tab ul li label:hover {
    background: #dddddd;
}

.pc-tab ul li label:active {
    background: #ffffff;
}

.pc-tab ul li:not(:last-child) label {
    border-right-width: 0;
}

.pc-tab section {
    font-family: "Droid Serif";
    clear: both;
}

.pc-tab section div {
    padding: 20px;
    width: 100%;
    border: 1px solid #ddd;
    background: #fff;
    line-height: 1.5em;
    letter-spacing: 0.3px;
    color: #444;
}

.pc-tab section div h2 {
    margin: 0;
    font-family: "Raleway";
    letter-spacing: 1px;
    color: #34495e;
}

/* #tab1:checked~nav .tab1 label,
#tab2:checked~nav .tab2 label,
#tab3:checked~nav .tab3 label {
    background: white;
    color: #111;
    position: relative;
}

#tab1:checked~nav .tab1 label:after,
#tab2:checked~nav .tab2 label:after,
#tab3:checked~nav .tab3 label:after {
    content: "";
    display: block;
    position: absolute;
    height: 2px;
    width: 100%;
    background: #ffffff;
    left: 0;
    bottom: -1px;
} */

.tabs-wrapper {
    padding: 1rem;
    border-radius: 0.5rem;
    box-shadow: 2px 1px 20px #888;
    /* height: 300px; */
    /* max-width: 500px; */
}

ul {
    list-style: none;
    padding: 0;
}

.nav-tabs {
    display: flex;
    margin-top: 0;
    margin-bottom: 0;
}

.nav-tabs li {
    border-top: 1px solid #ddd;
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.nav-tabs li.tab {
    padding: 0.5rem 1.5rem;
    font-weight: 500;
}

.nav-tabs .tab {
    background-color: #888;
}
.nav-tabs .tab.is-active {
    background-color: transparent;
}

.tab-panel {
    display: none;
}
.tab-panel.is-active {
    display: block;
}

.horizontal-flex {
    display: flex;
    justify-content: space-around;
    padding-top: 8px;
    padding-bottom: 8px;
    margin: 8px;
    border: 1px black solid;
    font-size: 1.15vw;
}

table,
th,
td {
    border: 1px solid black;
    border-collapse: collapse;
    font-size: 1.1em;
}

#matrixSelector {
    height: fit-content;
}


.charts-area {
    display: flex;
    flex-direction: row;
    min-height: 500px;
}

#charts-wrapper {
    width: 30%;
}

#energy-info-for-element {
    margin-left: 5vw;
    display: inline-block;
    width: 50%;
    border: 1px solid red;
}

/* Ionization Energy tab */
.ion-energy-area {
    display: flex;
    flex-direction: row;
    gap: 1rem;
}

.ion-energy-left-table {
    width: 50%;
}

.ion-energy-econfig-static-row,
.ion-energy-econfig-dyn-row {
    text-align: center;
}
