---
import IntroTab from "../components/IntroTab.astro";
import VirialAOsTab from "../components/VirialAOsTab.astro";
import CanonicalAOsTab from "../components/CanonicalAOsTab.astro";
import GraphsTab from "../components/GraphsTab.astro";
import ReferencesEtcTab from "../components/ReferencesEtcTab.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout title="Orbital Energy">
  <main>
    <div id="header">
      <span class="version"> Version 8 Mar 2024</span>
      <h1>The Electronic Structure of Atoms</h1>
      <h2>
        Virial Atomic Orbitals, Canonical Atomic Orbitals, Total Energy, and
        much more
      </h2>
    </div>

    <div class="tabs-wrapper">
      <ul class="nav-tabs">
        <li class="tab is-active" data-target="#intro-tab">Intro</li>
        <li class="tab" data-target="#virialaos-tab">Virial AOs</li>
        <li class="tab" data-target="#canonicalaos-tab">Canonical AOs</li>
        <li class="tab" data-target="#graphs-tab">Graphs</li>
        <li class="tab" data-target="#references-tab">References and more</li>
      </ul>
      <IntroTab />
      <VirialAOsTab />
      <CanonicalAOsTab />
      <GraphsTab />
      <ReferencesEtcTab />
    </div>
  </main>

  <style>
    @import url(https://fonts.googleapis.com/css?family=Droid+Serif:400,700);
    @import url(https://fonts.googleapis.com/css?family=Raleway:100,400,700);

    .version {
      font-size: small;
    }

    h1 {
      text-align: center;
      font-size: 2.5rem;
      color: #fff;
    }

    h2 {
      text-align: center;
      padding-bottom: 8px;
    }

    #header {
      position: sticky;
      top: 0;
      background-color: rgb(112, 128, 144, 1);
      /* to make the selected element which is transformed, and the lower part of
         the element table slide under the header. */
      z-index: 1;
    }
  </style>

  <style is:global>
    h2 {
      margin-top: 0px;
    }
    .tabs-wrapper {
      margin-top: 1rem;
      border-radius: 0.5rem;
      box-shadow: 2px 1px 20px #888;
    }

    ul {
      list-style: none;
      padding: 0;
    }

    .nav-tabs {
      display: flex;
      margin-top: 0;
      margin-bottom: 0;
    }

    .nav-tabs li {
      border-top: 1px solid #ddd;
      border-left: 1px solid #ddd;
      border-right: 1px solid #ddd;
      border-top-left-radius: 10px;
      border-top-right-radius: 10px;
    }

    .nav-tabs li.tab {
      padding: 0.5rem 1.5rem;
      font-weight: 500;
      font-size: larger;
    }

    .nav-tabs .tab {
      background-color: #888;
    }
    .nav-tabs .tab.is-active {
      background-color: #cacaca;
    }

    .tab-panel {
      display: none;
    }
    .tab-panel.is-active {
      display: block;
      background-color: #cacaca;
      padding-top: 0px;
      padding-left: 8px;
      border-radius: 0 10px 10px 10px;
    }

    /* for sub-tabs, make color even lighter */
    .tabs-wrapper .tabs-wrapper .tab-panel.is-active {
      background-color: #dadada;
    }
    .tabs-wrapper .tabs-wrapper .nav-tabs .tab.is-active {
      background-color: #dadada;
    }
  </style>
</Layout>
