---
import IntroTab from "../components/IntroTab.astro";
import VirialAOsTab from "../components/VirialAOsTab.astro";
import CanonicalAOsTab from "../components/CanonicalAOsTab.astro";
import GraphsTab from "../components/GraphsTab.astro";
import ReferencesEtcTab from "../components/ReferencesEtcTab.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout title="Orbital Energy">
  <main>
    <div id="header">
      <span class="version"> Version 9 Feb 2024</span>
      <h1>The Electronic Structure of Atoms Reconsidered</h1>
      <h1>Virial AOs, Comm. AOs, T of E., and much more</h1>
    </div>

    <div class="tabs-wrapper">
      <ul class="nav-tabs">
        <li class="tab is-active" data-target="#intro-tab">Intro</li>
        <li class="tab" data-target="#virialaos-tab">Virial AOs</li>
        <li class="tab" data-target="#canonicalaos-tab">Canonical AOs</li>
        <li class="tab" data-target="#graphs-tab">Graphs</li>
        <li class="tab" data-target="#references-tab">References and more</li>
      </ul>
      <IntroTab />
      <VirialAOsTab />
      <CanonicalAOsTab />
      <GraphsTab />
      <ReferencesEtcTab />
    </div>

    <!-- <ElementsTable /> -->
  </main>

  <style>
    @import url(https://fonts.googleapis.com/css?family=Droid+Serif:400,700);
    @import url(https://fonts.googleapis.com/css?family=Raleway:100,400,700);

    .version {
      font-size: small;
    }

    h1 {
      text-align: center;
      font-size: 2.5rem;
      color: #fff;
    }

    #header {
      position: sticky;
      top: 0;
      background-color: rgb(112, 128, 144, 1);
    }
  </style>
</Layout>
