---
import TabLayout from "../layouts/TabLayout.astro";
---

<TabLayout tabName="Atomic Size" id="atomic-size-tab">
  <div class="atomic-size-graphs">
    <fieldset>
      <legend>Select how to show graphs:</legend>
      <span>
        <input
          type="radio"
          id="separate"
          name="graph_display"
          value="separate"
          checked
        />
        <label for="separate">Separate graphs for each orbital</label>
      </span>
      <span>
        <input
          type="radio"
          id="together"
          name="graph_display"
          value="together"
        />
        <label for="together">All orbitals in one graph</label>
      </span>
    </fieldset>
    <div id="atomic-size-graphs-wrapper">
      <canvas id="atomicSize0Canv"></canvas>
      <canvas id="atomicSize1Canv"></canvas>
      <canvas id="atomicSize2Canv"></canvas>
      <canvas id="atomicSize3Canv"></canvas>
      <canvas id="atomicSize4Canv"></canvas>
      <canvas id="allAtomicSizesInOneChartCanv"></canvas>
    </div>

    <script>
      import "../scripts/atomicSize.ts";
    </script>
    <style>
      canvas {
        margin-bottom: 50px;
      }
    </style>
  </div>
</TabLayout>
