---
import TabLayout from "../layouts/TabLayout.astro";
---

<TabLayout tabName="Atomic Size" id="atomic-size-tab">
  <div id="atomicSizeCanvasAttachPoint"></div>
  <script>
    import "../scripts/atomicSize.ts";
  </script>
  <style>
    canvas {
      margin-bottom: 50px;
    }
    #atomicSizeCanvasAttachPoint {
      /* outline: 1px solid red; */
    }
  </style>
</TabLayout>
