---
import TabLayout from "../layouts/TabLayout.astro";
import ElementsTable from "./ElementsTable.astro";
import UnitsSelector from "./UnitsSelector.astro";
---

<TabLayout tabName="Graphs" id="graphs-tab">
  <ElementsTable id="graphs" />
  <UnitsSelector />

  <div class="charts-area">
    <div id="charts-wrapper">
      <canvas id="atomicSizeChartCanv"></canvas>
      <canvas id="electronAffinityChartCanv"></canvas>
      <canvas id="polarizabilityChartCanv"></canvas>
      <canvas id="ionizationEnergyChartCanv"></canvas>
      <canvas id="weightedIonizationEnergyChartCanv"></canvas>
    </div>
    <div id="energy-info-for-element">
      <div id="energy-element-name"></div>
      <div id="energy-atomic-size"></div>
      <div id="energy-electron-affinity"></div>
      <div id="energy-polarizability"></div>
      <div id="energy-ionization-energy"></div>
    </div>
  </div>
</TabLayout>
<script>
  import "../scripts/graphData.ts";
</script>
