---
import TabLayout from "../layouts/TabLayout.astro";
import ElementsTable from "./ElementsTable.astro";
import UnitsSelector from "./UnitsSelector.astro";
import WizardStep from "./WizardStep.astro";
---

<TabLayout tabName="Graphs" id="graphs-tab">
  <ElementsTable id="graphs" selectableRow="true" />

  <!-- Wizard to lead user through choices for graphing -->
  <div
    id="waiting-for-row-or-elem-to-be-selected"
    data-wizard-step="wizard-step-current"
    class="space-top"
  >
    Step 1: Select the type of graph to create by selecting a single element or
    a row of elements above:
    <span id="selected-row-or-elem-text"></span>
  </div>

  <WizardStep
    stepName="choose-orbital-or-elem"
    stepDescr="Step 2. Select whether to graph values for each orbital or for the elements as a whole: "
  >
    <label for="orbital">Orbital</label>
    <input type="radio" id="orbital" name="orb-or-elem" value="orbital" />
    <label for="element">Element</label>
    <input type="radio" id="element" name="orb-or-elem" value="element" />
  </WizardStep>

  <WizardStep
    stepName="choose-orbital-for-row"
    stepDescr="Step 3: Choose the orbital to graph: "
  >
    <label for="1s">1s</label>
    <input type="radio" id="1s" name="orb-for-row" value="0" />
    <label for="2s">2s</label>
    <input type="radio" id="2s" name="orb-for-row" value="1" />
    <label for="2p">2p</label>
    <input type="radio" id="2p" name="orb-for-row" value="2" />
    <label for="3s">3s</label>
    <input type="radio" id="3s" name="orb-for-row" value="3" />
    <label for="3p">3p</label>
    <input type="radio" id="3p" name="orb-for-row" value="4" />
  </WizardStep>

  <WizardStep
    stepName="choose-x-for-row-and-orbital"
    stepDescr="Step 4: Select the values to place on the horizontal (x) axis: "
  >
    <label for="x_Zi">Z<sub>i</sub></label>
    <input type="radio" id="x_Zi" name="x-for-row-and-orbital" value="Zi" />
    <label for="x_z">Z</label>
    <input type="radio" id="x_z" name="x-for-row-and-orbital" value="z" />
    <label for="x_ti">t<sub>i</sub></label>
    <input type="radio" id="x_ti" name="x-for-row-and-orbital" value="ti" />
    <label for="x_ven">V<sub>en</sub></label>
    <input type="radio" id="x_ven" name="x-for-row-and-orbital" value="ven" />
    <label for="x_vaoe">VAOE</label>
    <input type="radio" id="x_vaoe" name="x-for-row-and-orbital" value="vaoe" />
    <label for="x_rmax">r<sub>max</sub></label>
    <input type="radio" id="x_rmax" name="x-for-row-and-orbital" value="rmax" />
  </WizardStep>

  <WizardStep
    stepName="choose-y-for-row-and-orbital"
    stepDescr="Step 5: Select the values to place on the vertical (y) axis: "
  >
    <label for="y_Zi">Z<sub>i</sub></label>
    <input type="radio" id="y_Zi" name="y-for-row-and-orbital" value="Zi" />
    <label for="y_z">Z</label>
    <input type="radio" id="y_z" name="y-for-row-and-orbital" value="z" />
    <label for="y_ti">t<sub>i</sub></label>
    <input type="radio" id="y_ti" name="y-for-row-and-orbital" value="ti" />
    <label for="y_ven">V<sub>en</sub></label>
    <input type="radio" id="y_ven" name="y-for-row-and-orbital" value="ven" />
    <label for="y_vaoe">VAOE</label>
    <input type="radio" id="y_vaoe" name="y-for-row-and-orbital" value="vaoe" />
    <label for="y_rmax">r<sub>max</sub></label>
    <input type="radio" id="y_rmax" name="y-for-row-and-orbital" value="rmax" />
  </WizardStep>

  <WizardStep
    stepName="choose-x-for-row-and-elem"
    stepDescr="Step 3: Select the values to place on the horizontal (x) axis: "
  >
    <label for="polarizability">Polarizability</label>
    <input
      type="radio"
      id="polarizability"
      name="x-for-row-and-elem"
      value="polarizability"
    />
    <label for="ionization-energy">Ionization Energy</label>
    <input
      type="radio"
      id="ionization-energy"
      name="x-for-row-and-elem"
      value="ionization-energy"
    />
    <label for="weighted-ionization-energy">Weighted Ionization Energy</label>
    <input
      type="radio"
      id="weighted-ionization-energy"
      name="x-for-row-and-elem"
      value="weighted-ionization-energy"
    />
  </WizardStep>

  <WizardStep
    stepName="choose-y-for-row-and-elem"
    stepDescr="Step 4: Select the values to place on the vertical (y) axis: "
  >
    <label for="y-polarizability">Polarizability</label>
    <input
      type="radio"
      id="y-polarizability"
      name="y-for-row-and-elem"
      value="polarizability"
    />
    <label for="y-ionization-energy">Ionization Energy</label>
    <input
      type="radio"
      id="y-ionization-energy"
      name="y-for-row-and-elem"
      value="ionization-energy"
    />
    <label for="y-weighted-ionization-energy">Weighted Ionization Energy</label>
    <input
      type="radio"
      id="y-weighted-ionization-energy"
      name="y-for-row-and-elem"
      value="weighted-ionization-energy"
    />
  </WizardStep>

  <WizardStep
    stepName="choose-orbital-for-elem"
    stepDescr="Step 2: Choose the orbital to graph: "
  >
    <label for="e-1s">1s</label>
    <input type="radio" id="e-1s" name="orb-for-elem" value="0" />
    <label for="e-2s">2s</label>
    <input type="radio" id="e-2s" name="orb-for-elem" value="1" />
    <label for="e-2p">2p</label>
    <input type="radio" id="e-2p" name="orb-for-elem" value="2" />
    <label for="e-3s">3s</label>
    <input type="radio" id="e-3s" name="orb-for-elem" value="3" />
    <label for="e-3p">3p</label>
    <input type="radio" id="e-3p" name="orb-for-elem" value="4" />
  </WizardStep>

  <WizardStep
    stepName="choose-y-for-elem"
    stepDescr="Step 3: Select the values to place on the vertical (y) axis: "
  >
    <label for="y-rad-prob-dist">Radial Probability Distribution</label>
    <input
      type="radio"
      id="y-rad-prob-dist"
      name="y-for-elem"
      value="rad-prob-dist"
    />
    <label for="y-electron-density">Electron Density</label>
    <input
      type="radio"
      id="y-electron-density"
      name="y-for-elem"
      value="electron-density"
    />
    <label for="y-wave-fcn">Wave Function</label>
    <input type="radio" id="y-wave-fcn" name="y-for-elem" value="wave-fcn" />
  </WizardStep>

  <button id="reset-graphing"> Reset graphing wizard </button>

  <UnitsSelector />

  <div id="chart-attachment">
    <canvas id="chart-canv"></canvas>
  </div>
</TabLayout>

<script>
  import "../scripts/graphData.ts";
</script>

<style>
  .charts-area {
    display: flex;
    flex-direction: row;
    min-height: 500px;
  }

  #charts-wrapper {
    width: 90%;
  }

  #charts-wrapper > canvas {
    margin-bottom: 2rem;
  }

  #energy-info-for-element {
    margin-left: 5vw;
    display: inline-block;
    width: 50%;
    padding: 1rem;
    font-weight: bold;
    border: 1px solid black;
  }

  [disabled] {
    filter: opacity(50%);
  }

  [data-wizard-step="wizard-step-hidden"] {
    display: none;
  }
  [data-wizard-step="wizard-step-current"] {
    display: block;
    font-size: larger;
    font-weight: bold;
  }
  [data-wizard-step="wizard-step-previous-selected"]::before {
    content: "✅ ";
  }

  .space-left {
    margin-left: 2rem;
  }
  .space-top {
    margin-top: 2rem;
  }

  label {
    margin-left: 2rem;
  }

  #reset-graphing {
    margin-top: 1rem;
  }
</style>
