---
import TabLayout from "../layouts/TabLayout.astro";
import ElementsTable from "./ElementsTable.astro";
import UnitsSelector from "./UnitsSelector.astro";
---

<TabLayout tabName="Graphs" id="graphs-tab">
  <ElementsTable id="graphs" selectableRow="true" />

  <!-- Wizard to lead user through choices for graphing -->
  <div
    id="waiting-for-row-or-elem-to-be-selected"
    data-wizard-step="wizard-step-current"
    class="space-top"
  >
    <!-- Add box with/without checkmark in it depending on if the user has
       selected something. -->
    Step 1: Select the type of graph to create by selecting a single element or a
    row of elements above.
  </div>
  <div
    id="row-selected-so-user-chooses-orbital-or-elem"
    data-wizard-step="wizard-step-hidden"
  >
    <span id="choose-orbital-or-elem-text">
      Step 2: Select whether to graph values for each orbital or for the
      elements as a whole:
    </span>
    <form
      class="indented-area-for-a-step"
      autocomplete="off"
      id="orb-or-elem-form"
    >
      <label for="orbital">Orbital</label>
      <input type="radio" id="orbital" name="orb-or-elem" value="orbital" />
      <label class="space-left" for="element">Element</label>
      <input type="radio" id="element" name="orb-or-elem" value="element" />
      <input class="space-left" type="submit" value="Continue" />
    </form>
  </div>
  <div id="choose-which-orbital-to-graph" data-wizard-step="wizard-step-hidden">
    <span id="choose-which-orbital-text">
      Step 3: Choose the orbital to graph:
    </span>
    <form
      class="indented-area-for-a-step"
      autocomplete="off"
      id="select-orbital-form"
    >
      <label class="space-left" for="1s">1s</label>
      <input type="radio" id="1s" name="orb-to-graph" value="0" />
      <label class="space-left" for="2s">2s</label>
      <input type="radio" id="2s" name="orb-to-graph" value="1" />
      <label class="space-left" for="2p">2p</label>
      <input type="radio" id="2p" name="orb-to-graph" value="2" />
      <label class="space-left" for="3s">3s</label>
      <input type="radio" id="3s" name="orb-to-graph" value="3" />
      <label class="space-left" for="3p">3p</label>
      <input type="radio" id="3p" name="orb-to-graph" value="4" />

      <input class="space-left" type="submit" value="Continue" />
    </form>
  </div>
  <div id="choose-x-for-row-and-orbital" data-wizard-step="wizard-step-hidden">
    <span id="x-for-row-and-orbital-text">
      Step 4: Select the values to place on the horizontal (x) axis:
    </span>
    <form
      class="indented-area-for-a-step"
      autocomplete="off"
      id="x-for-row-and-orbital-form"
    >
      <label class="space-left" for="Zi">Z<sub>i</sub></label>
      <input type="radio" id="Zi" name="x-for-row-and-orbital" value="Zi" />
      <label class="space-left" for="z">Z</label>
      <input type="radio" id="z" name="x-for-row-and-orbital" value="z" />
      <label class="space-left" for="ti">t<sub>i</sub></label>
      <input type="radio" id="ti" name="x-for-row-and-orbital" value="ti" />
      <label class="space-left" for="ven">V<sub>en</sub></label>
      <input type="radio" id="ven" name="x-for-row-and-orbital" value="ven" />
      <label class="space-left" for="vaoe">VAOE</label>
      <input type="radio" id="vaoe" name="x-for-row-and-orbital" value="vaoe" />
      <label class="space-left" for="rmax">r<sub>max</sub></label>
      <input type="radio" id="rmax" name="x-for-row-and-orbital" value="rmax" />

      <input class="space-left" type="submit" value="Continue" />
    </form>
  </div>
  <div id="choose-y-for-row-and-orbital" data-wizard-step="wizard-step-hidden">
    <span id="y-for-row-and-orbital-text">
      Step 5: Select the values to place on the vertical (y) axis:
    </span>
    <form
      class="indented-area-for-a-step"
      autocomplete="off"
      id="y-for-row-and-orbital-form"
    >
      <label class="space-left" for="Zi">Z<sub>i</sub></label>
      <input type="radio" id="Zi" name="y-for-row-and-orbital" value="Zi" />
      <label class="space-left" for="z">Z</label>
      <input type="radio" id="z" name="y-for-row-and-orbital" value="z" />
      <label class="space-left" for="ti">t<sub>i</sub></label>
      <input type="radio" id="ti" name="y-for-row-and-orbital" value="ti" />
      <label class="space-left" for="ven">V<sub>en</sub></label>
      <input type="radio" id="ven" name="y-for-row-and-orbital" value="ven" />
      <label class="space-left" for="vaoe">VAOE</label>
      <input type="radio" id="vaoe" name="y-for-row-and-orbital" value="vaoe" />
      <label class="space-left" for="rmax">r<sub>max</sub></label>
      <input type="radio" id="rmax" name="y-for-row-and-orbital" value="rmax" />

      <input class="space-left" type="submit" value="Continue" />
    </form>
  </div>

  <div id="choose-x-for-row-and-elem" data-wizard-step="wizard-step-hidden">
    <span id="choose-x-for-row-and-elem-text">
      Step 3: Select the values to place on the horizontal (x) axis:
    </span>
    <form
      class="indented-area-for-a-step"
      autocomplete="off"
      id="x-for-row-and-elem-form"
    >
      <label class="space-left" for="polarizability">Polarizabilty</label>
      <input
        type="radio"
        id="polarizability"
        name="x-for-row-and-elem"
        value="polarizability"
      />
      <label class="space-left" for="ionization-energy">Ionization Energy</label
      >
      <input
        type="radio"
        id="ionization-energy"
        name="x-for-row-and-elem"
        value="ionization-energy"
      />
      <label class="space-left" for="weighted-ionization-energy"
        >Weighted Ionization Energy</label
      >
      <input
        type="radio"
        id="weighted-ionization-energy"
        name="x-for-row-and-elem"
        value="weighted-ionization-energy"
      />
      <input class="space-left" type="submit" value="Continue" />
    </form>
  </div>
  <div id="choose-y-for-row-and-elem" data-wizard-step="wizard-step-hidden">
    <span id="choose-y-for-row-and-elem-text">
      Step 4: Select the values to place on the vertical (y) axis:
    </span>
    <form
      class="indented-area-for-a-step"
      autocomplete="off"
      id="y-for-row-and-elem-form"
    >
      <label class="space-left" for="y-polarizability">Polarizabilty</label>
      <input
        type="radio"
        id="y-polarizability"
        name="y-for-row-and-elem"
        value="polarizability"
      />
      <label class="space-left" for="y-ionization-energy"
        >Ionization Energy</label
      >
      <input
        type="radio"
        id="y-ionization-energy"
        name="y-for-row-and-elem"
        value="ionization-energy"
      />
      <label class="space-left" for="y-weighted-ionization-energy"
        >Weighted Ionization Energy</label
      >
      <input
        type="radio"
        id="y-weighted-ionization-energy"
        name="y-for-row-and-elem"
        value="weighted-ionization-energy"
      />
      <input class="space-left" type="submit" value="Continue" />
    </form>
  </div>
  <div id="choose-x-for-elem" data-wizard-step="wizard-step-hidden">
    Step 2: Select the values to place on the horizontal (x) axis.
  </div>
  <div id="choose-y-for-elem" data-wizard-step="wizard-step-hidden">
    Step 3: Select the values to place on the vertical (y) axis.
  </div>
  <div id="showing-graph" data-wizard-step="wizard-step-hidden">
    Graph goes here...
  </div>

  <UnitsSelector />

  <div id="chart-attachment">
    <canvas id="chart-canv"></canvas>
  </div>

  <!-- <div class="charts-area">
    <div id="charts-wrapper">
      <canvas id="chart-canv"></canvas>
      <canvas id="atomicSizeChartCanv"></canvas>
      <canvas id="electronAffinityChartCanv"></canvas>
      <canvas id="polarizabilityChartCanv"></canvas>
      <canvas id="ionizationEnergyChartCanv"></canvas>
      <canvas id="weightedIonizationEnergyChartCanv"></canvas>
    </div>
    <div id="chart-attachment">
      <canvas id="chart-canv"> -->
  <!-- <div id="energy-info-for-element">
      <div id="energy-element-name"></div>
      <div id="energy-atomic-size"></div>
      <div id="energy-electron-affinity"></div>
      <div id="energy-polarizability"></div>
      <div id="energy-ionization-energy"></div>
    </div> -->
  <!-- </canvas>
    </div> -->
</TabLayout>

<script>
  import "../scripts/graphData.ts";
</script>

<style>
  .charts-area {
    display: flex;
    flex-direction: row;
    min-height: 500px;
  }

  #charts-wrapper {
    width: 90%;
  }

  #charts-wrapper > canvas {
    margin-bottom: 2rem;
  }

  #energy-info-for-element {
    margin-left: 5vw;
    display: inline-block;
    width: 50%;
    padding: 1rem;
    font-weight: bold;
    border: 1px solid black;
  }

  [disabled] {
    filter: opacity(50%);
  }

  [data-wizard-step="wizard-step-hidden"] {
    display: none;
  }
  [data-wizard-step="wizard-step-current"] {
    display: block;
    font-size: larger;
    font-width: bold;
  }
  [data-wizard-step="wizard-step-previous-selected"]::before {
    content: "✅ ";
  }

  .indented-area-for-a-step {
    margin-left: 2rem;
  }
  .space-left {
    margin-left: 2rem;
  }
  .space-top {
    margin-top: 2rem;
  }
</style>
