---
import TabLayout from "../layouts/TabLayout.astro";

const items = await Astro.glob("../scripts/integrals/*.md");
---

<TabLayout tabName="Integrals" id="integrals-tab">
  <button id="download-info">
    <a download href="integrals.xlsx">Download data for all elements (.xlsx)</a>
  </button>

  <div class="integrals-info">
    <!-- There is only one item in the items array. -->
    {
      items.map(({ Content }) => (
        <>
          <Content />
        </>
      ))
    }
    <div id="no-integrals-tables-to-show"></div>
  </div>
</TabLayout>

<script>
  import { selectedElement$ } from "../scripts/stores";
  selectedElement$.subscribe((selElem) => {
    const elemNum = selElem.selectedElementInfo?.number;
    // Hide all Integral Tables information except for the ones for the selected element.
    const allIntTables =
      document.querySelectorAll<HTMLElement>(".grid-wrapper");
    let match = false;
    allIntTables.forEach((elemIntTables) => {
      if (elemIntTables.id === `integrals-table-${elemNum}`) {
        elemIntTables.style.display = "grid";
        match = true;
      } else {
        elemIntTables.style.display = "none";
      }
    });
    const noInfoToShowElem = document.getElementById(
      "no-integrals-tables-to-show"
    )!;
    if (match) {
      noInfoToShowElem.style.display = "none";
    } else {
      // No tables are shown -- all are hidden.
      noInfoToShowElem.style.display = "block";
      if (!elemNum) {
        noInfoToShowElem.textContent = "Select an element to see this info.";
      }
    }
  });

  //
</script>

<style>
  button {
    margin-bottom: 2rem;
  }
  a {
    text-decoration: none;
  }
  #no-integrals-tables-to-show {
    display: none;
  }
  .integrals-info {
    padding-bottom: 1rem;
  }
</style>
