---
import TabLayout from "../layouts/TabLayout.astro";
---

<TabLayout tabName="Ionization Energy" id="ionization-energy-tab">
  <div class="ion-energy-area">
    <div id="ion-energy-left-table">
      Ground state
      <table>
        <thead>
          <th></th><th>1s</th><th>2s</th><th>2p</th><th>3s</th><th>3p</th>
        </thead>
        <tbody>
          <tr class="ion-energy-econfig-static-row">
            <th># of electrons</th>
            <td>0</td><td>0</td><td>0</td><td>0</td><td>0</td>
          </tr>
          <tr class="ion-energy-z_e-static-row">
            <th>Z<sub>e</sub></th>
            <td>0</td><td>0</td><td>0</td><td>0</td><td>0</td>
          </tr>
          <tr class="ion-energy-t_i-static-row">
            <th>t<sub>i</sub></th>
            <td>0</td><td>0</td><td>0</td><td>0</td><td>0</td>
          </tr>
          <tr class="ion-energy-v_en-static-row fat-bottom-sep">
            <th>v<sub>en</sub></th>
            <td>0</td><td>0</td><td>0</td><td>0</td><td>0</td>
          </tr>
          <tr class="ion-energy-v_ee-static-row">
            <th>V<sub>ee</sub> 1s</th>
            <td>0</td><td>0</td><td>0</td><td>0</td><td>0</td>
          </tr>
          <tr class="ion-energy-v_ee-static-row">
            <th>V<sub>ee</sub> 2s</th>
            <td>0</td><td>0</td><td>0</td><td>0</td><td>0</td>
          </tr>
          <tr class="ion-energy-v_ee-static-row">
            <th>V<sub>ee</sub> 2p</th>
            <td>0</td><td>0</td><td>0</td><td>0</td><td>0</td>
          </tr>
          <tr class="ion-energy-v_ee-static-row">
            <th>V<sub>ee</sub> 3s</th>
            <td>0</td><td>0</td><td>0</td><td>0</td><td>0</td>
          </tr>
          <tr class="ion-energy-v_ee-static-row fat-bottom-sep">
            <th>V<sub>ee</sub> 3p</th>
            <td>0</td><td>0</td><td>0</td><td>0</td><td>0</td>
          </tr>

          <tr class="ion-energy-vaoe-static-row">
            <th>VAOE</th>
            <td>0</td><td>0</td><td>0</td><td>0</td><td>0</td>
          </tr>
          <tr class="ion-energy-et-static-row">
            <th>E<sub>t</sub></th>
            <td>0</td><td>0</td><td>0</td><td>0</td><td>0</td>
          </tr>
        </tbody>
      </table>
      Total Energy: <span id="ion-energy-left-table-total-energy"></span>
    </div>

    <!-- Right side table starts here -->
    <div id="ion-energy-right-table">
      Modify to see energy changes
      <table>
        <thead>
          <th></th><th>1s</th><th>2s</th><th>2p</th><th>3s</th><th>3p</th>
        </thead>
        <tbody>
          <tr class="ion-energy-econfig-dyn-row">
            <th># of electrons</th>
            <td>0</td><td>0</td><td>0</td><td>0</td><td>0</td>
          </tr>
          <tr class="ion-energy-z_e-dyn-row">
            <th>Z<sub>e</sub></th>
            <td>0</td><td>0</td><td>0</td><td>0</td><td>0</td>
          </tr>
          <tr class="ion-energy-t_i-dyn-row">
            <th>t<sub>i</sub></th>
            <td>0</td><td>0</td><td>0</td><td>0</td><td>0</td>
          </tr>
          <tr class="ion-energy-v_en-dyn-row fat-bottom-sep">
            <th>v<sub>en</sub></th>
            <td>0</td><td>0</td><td>0</td><td>0</td><td>0</td>
          </tr>
          <tr class="ion-energy-v_ee-dyn-row">
            <th>V<sub>ee</sub> 1s</th>
            <td>0</td><td>0</td><td>0</td><td>0</td><td>0</td>
          </tr>
          <tr class="ion-energy-v_ee-dyn-row">
            <th>V<sub>ee</sub> 2s</th>
            <td>0</td><td>0</td><td>0</td><td>0</td><td>0</td>
          </tr>
          <tr class="ion-energy-v_ee-dyn-row">
            <th>V<sub>ee</sub> 2p</th>
            <td>0</td><td>0</td><td>0</td><td>0</td><td>0</td>
          </tr>
          <tr class="ion-energy-v_ee-dyn-row">
            <th>V<sub>ee</sub> 3s</th>
            <td>0</td><td>0</td><td>0</td><td>0</td><td>0</td>
          </tr>
          <tr class="ion-energy-v_ee-dyn-row fat-bottom-sep">
            <th>V<sub>ee</sub> 3p</th>
            <td>0</td><td>0</td><td>0</td><td>0</td><td>0</td>
          </tr>
          <tr class="ion-energy-vaoe-dyn-row">
            <th>VAOE</th>
            <td>0</td><td>0</td><td>0</td><td>0</td><td>0</td>
          </tr>
          <tr class="ion-energy-et-dyn-row">
            <th>E<sub>t</sub></th>
            <td>0</td><td>0</td><td>0</td><td>0</td><td>0</td>
          </tr>
        </tbody>
      </table>
      Total Energy: <span id="ion-energy-right-table-total-energy"></span>
      <div style="color: red">
        Ionization Energy: <span id="ion-energy-ionization-energy"></span>
      </div>
    </div>

    <script>
      import "../scripts/ionizationEnergy";
    </script>

    <style>
      .fat-bottom-sep {
        border-bottom: 2px solid black;
      }
    </style>
  </div>
</TabLayout>
