---
import TabLayout from "../layouts/TabLayout.astro";
---

<TabLayout tabName="Ionization Energy" id="ionization-energy-tab">
  <h3 id="ion-energy-units">Energies shown in Ha.</h3>
  <button id="ion-energy-toggle-details-btn"> Show details in tables </button>

  <div class="ion-energy-area">
    <div id="ion-energy-left-table">
      <div class="table-label">Species 1</div>
      <table id="left-table">
        <thead>
          <th></th><th>1s</th><th>2s</th><th>2p</th><th>3s</th><th>3p</th>
        </thead>
        <tbody>
          <tr class="ion-energy-econfig-row">
            <th># of electrons</th>
            <td>0</td><td>0</td><td>0</td><td>0</td><td>0</td>
          </tr>
          <tr class="ion-energy-z_e-row ion-energy-details-row">
            <th>Z<sub>e</sub></th>
            <td>0</td><td>0</td><td>0</td><td>0</td><td>0</td>
          </tr>
          <tr class="ion-energy-t_i-row ion-energy-details-row">
            <th>t<sub>i</sub></th>
            <td>0</td><td>0</td><td>0</td><td>0</td><td>0</td>
          </tr>
          <tr class="ion-energy-v_en-row fat-bottom-sep ion-energy-details-row">
            <th>v<sub>en</sub></th>
            <td>0</td><td>0</td><td>0</td><td>0</td><td>0</td>
          </tr>

          <tr class="ion-energy-v_ee-row ion-energy-details-row">
            <th>v<sub>ee</sub> 1s</th>
            <td>0</td><td>0</td><td>0</td><td>0</td><td>0</td>
          </tr>
          <tr class="ion-energy-v_ee-row ion-energy-details-row">
            <th>v<sub>ee</sub> 2s</th>
            <td>0</td><td>0</td><td>0</td><td>0</td><td>0</td>
          </tr>
          <tr class="ion-energy-v_ee-row ion-energy-details-row">
            <th>v<sub>ee</sub> 2p</th>
            <td>0</td><td>0</td><td>0</td><td>0</td><td>0</td>
          </tr>
          <tr class="ion-energy-v_ee-row ion-energy-details-row">
            <th>v<sub>ee</sub> 3s</th>
            <td>0</td><td>0</td><td>0</td><td>0</td><td>0</td>
          </tr>
          <tr class="ion-energy-v_ee-row fat-bottom-sep ion-energy-details-row">
            <th>v<sub>ee</sub> 3p</th>
            <td>0</td><td>0</td><td>0</td><td>0</td><td>0</td>
          </tr>

          <tr class="ion-energy-capv_ee-row ion-energy-details-row">
            <th>V<sub>ee</sub> 1s</th>
            <td>0</td><td>0</td><td>0</td><td>0</td><td>0</td>
          </tr>
          <tr class="ion-energy-capv_ee-row ion-energy-details-row">
            <th>V<sub>ee</sub> 2s</th>
            <td>0</td><td>0</td><td>0</td><td>0</td><td>0</td>
          </tr>
          <tr class="ion-energy-capv_ee-row ion-energy-details-row">
            <th>V<sub>ee</sub> 2p</th>
            <td>0</td><td>0</td><td>0</td><td>0</td><td>0</td>
          </tr>
          <tr class="ion-energy-capv_ee-row ion-energy-details-row">
            <th>V<sub>ee</sub> 3s</th>
            <td>0</td><td>0</td><td>0</td><td>0</td><td>0</td>
          </tr>
          <tr
            class="ion-energy-capv_ee-row fat-bottom-sep ion-energy-details-row"
          >
            <th>V<sub>ee</sub> 3p</th>
            <td>0</td><td>0</td><td>0</td><td>0</td><td>0</td>
          </tr>
          <tr class="ion-energy-vaoe-row">
            <th>VAOE</th>
            <td>0</td><td>0</td><td>0</td><td>0</td><td>0</td>
          </tr>
          <tr class="ion-energy-et-row">
            <th>E<sub>t</sub></th>
            <td>0</td><td>0</td><td>0</td><td>0</td><td>0</td>
          </tr>
        </tbody>
      </table>
      Total Energy: <span id="ion-energy-total-energy"></span>
    </div>

    <!-- Right side table starts here -->
    <div id="ion-energy-right-table">
      <div class="table-label">Species 2</div>
      <table id="right-table">
        <thead>
          <th></th><th>1s</th><th>2s</th><th>2p</th><th>3s</th><th>3p</th>
        </thead>
        <tbody>
          <tr class="ion-energy-econfig-row">
            <th># of electrons</th>
            <td>0</td><td>0</td><td>0</td><td>0</td><td>0</td>
          </tr>
          <tr class="ion-energy-z_e-row ion-energy-details-row">
            <th>Z<sub>e</sub></th>
            <td>0</td><td>0</td><td>0</td><td>0</td><td>0</td>
          </tr>
          <tr class="ion-energy-t_i-row ion-energy-details-row">
            <th>t<sub>i</sub></th>
            <td>0</td><td>0</td><td>0</td><td>0</td><td>0</td>
          </tr>
          <tr class="ion-energy-v_en-row fat-bottom-sep ion-energy-details-row">
            <th>v<sub>en</sub></th>
            <td>0</td><td>0</td><td>0</td><td>0</td><td>0</td>
          </tr>

          <tr class="ion-energy-v_ee-row ion-energy-details-row">
            <th>v<sub>ee</sub> 1s</th>
            <td>0</td><td>0</td><td>0</td><td>0</td><td>0</td>
          </tr>
          <tr class="ion-energy-v_ee-row ion-energy-details-row">
            <th>v<sub>ee</sub> 2s</th>
            <td>0</td><td>0</td><td>0</td><td>0</td><td>0</td>
          </tr>
          <tr class="ion-energy-v_ee-row ion-energy-details-row">
            <th>v<sub>ee</sub> 2p</th>
            <td>0</td><td>0</td><td>0</td><td>0</td><td>0</td>
          </tr>
          <tr class="ion-energy-v_ee-row ion-energy-details-row">
            <th>v<sub>ee</sub> 3s</th>
            <td>0</td><td>0</td><td>0</td><td>0</td><td>0</td>
          </tr>
          <tr class="ion-energy-v_ee-row fat-bottom-sep ion-energy-details-row">
            <th>v<sub>ee</sub> 3p</th>
            <td>0</td><td>0</td><td>0</td><td>0</td><td>0</td>
          </tr>

          <tr class="ion-energy-capv_ee-row ion-energy-details-row">
            <th>V<sub>ee</sub> 1s</th>
            <td>0</td><td>0</td><td>0</td><td>0</td><td>0</td>
          </tr>
          <tr class="ion-energy-capv_ee-row ion-energy-details-row">
            <th>V<sub>ee</sub> 2s</th>
            <td>0</td><td>0</td><td>0</td><td>0</td><td>0</td>
          </tr>
          <tr class="ion-energy-capv_ee-row ion-energy-details-row">
            <th>V<sub>ee</sub> 2p</th>
            <td>0</td><td>0</td><td>0</td><td>0</td><td>0</td>
          </tr>
          <tr class="ion-energy-capv_ee-row ion-energy-details-row">
            <th>V<sub>ee</sub> 3s</th>
            <td>0</td><td>0</td><td>0</td><td>0</td><td>0</td>
          </tr>
          <tr
            class="ion-energy-capv_ee-row fat-bottom-sep ion-energy-details-row"
          >
            <th>V<sub>ee</sub> 3p</th>
            <td>0</td><td>0</td><td>0</td><td>0</td><td>0</td>
          </tr>
          <tr class="ion-energy-vaoe-row">
            <th>VAOE</th>
            <td>0</td><td>0</td><td>0</td><td>0</td><td>0</td>
          </tr>
          <tr class="ion-energy-et-row">
            <th>E<sub>t</sub></th>
            <td>0</td><td>0</td><td>0</td><td>0</td><td>0</td>
          </tr>
        </tbody>
      </table>
      Total Energy: <span id="ion-energy-total-energy"></span>
      <!-- <div class="ion-energy-diff">
        Ionization Energy: <span id="ion-energy-ionization-energy"></span>
      </div> -->
    </div>
  </div>

  <div id="ionizationTotalCanvasAttachPoint"></div>

  <script>
    import "../scripts/ionizationEnergy";
  </script>

  <style>
    td,
    th {
      padding-left: 2px;
      padding-right: 2px;
    }
    .fat-bottom-sep {
      border-bottom: 2px solid black;
    }

    .ion-energy-area {
      display: flex;
      flex-direction: row;
      gap: 1rem;
    }

    .ion-energy-econfig-row {
      text-align: center;
    }
    .ion-energy-diff {
      color: red;
    }

    #ion-energy-toggle-details-btn {
      margin-bottom: 1rem;
    }

    .ion-energy-details-row {
      display: none;
    }

    .table-label {
      font-size: 1.5rem;
      font-weight: bold;
    }

    canvas {
      margin-bottom: 50px;
      width: 800px;
      height: 300px;
    }
  </style>
</TabLayout>
