---
import TabLayout from "../layouts/TabLayout.astro";
---

<TabLayout tabName="Ionization Energy" id="tab3">
  <div class="ion-energy-area">
    <div id="ion-energy-left-table">
      Ground state
      <table>
        <thead>
          <th></th>
          <th>1s</th>
          <th>2s</th>
          <th>2p</th>
          <th>3s</th>
          <th>3p</th>
        </thead>
        <tbody>
          <tr class="ion-energy-econfig-static-row">
            <td># of electrons</td>
            <!-- Values in rows below will be based on selected element -->
            <td>0</td>
            <td>0</td>
            <td>0</td>
            <td>0</td>
            <td>0</td>
          </tr>
          <tr class="ion-energy-z_es-static-row">
            <td>Z<sub>e</sub></td>
            <td>0</td>
            <td>0</td>
            <td>0</td>
            <td>0</td>
            <td>0</td>
          </tr>
          <tr class="ion-energy-vaoe-static-row">
            <td>VAOE</td>
            <td>0</td>
            <td>0</td>
            <td>0</td>
            <td>0</td>
            <td>0</td>
          </tr>
          <tr class="ion-energy-et-static-row">
            <td>E<sub>t</sub></td>
            <td>0</td>
            <td>0</td>
            <td>0</td>
            <td>0</td>
            <td>0</td>
          </tr>
        </tbody>
      </table>
      Total Energy: <span id="ion-energy-left-table-total-energy"></span>
    </div>
    <div id="ion-energy-right-table">
      Modify to see energy changes
      <table>
        <thead>
          <th></th>
          <th>1s</th>
          <th>2s</th>
          <th>2p</th>
          <th>3s</th>
          <th>3p</th>
        </thead>
        <tbody>
          <tr class="ion-energy-econfig-dyn-row">
            <td># of electrons</td>
            <!-- Values in rows below will be based on selected element -->
            <td>0</td>
            <td>0</td>
            <td>0</td>
            <td>0</td>
            <td>0</td>
          </tr>
          <tr class="ion-energy-z_es-dyn-row">
            <td>Z<sub>e</sub></td>
            <td>0</td>
            <td>0</td>
            <td>0</td>
            <td>0</td>
            <td>0</td>
          </tr>
          <tr class="ion-energy-vaoe-dyn-row">
            <td>VAOE</td>
            <td>0</td>
            <td>0</td>
            <td>0</td>
            <td>0</td>
            <td>0</td>
          </tr>
          <tr class="ion-energy-et-dyn-row">
            <td
              >E<sub>t</sub>
              <td>0</td>
              <td>0</td>
              <td>0</td>
              <td>0</td>
              <td>0</td>
            </td>
          </tr>
        </tbody>
      </table>
      Total Energy: <span id="ion-energy-right-table-total-energy"></span>
      <div style="color: red">
        Ionization Energy: <span id="ion-energy-ionization-energy"></span>
      </div>
    </div>
  </div>
</TabLayout>

<script>
  import "../scripts/ionizationEnergy";
</script>
