<h3>
  Calculated energy in
  <select name="unitSelector" id="unitSelector" autocomplete="off">
    <option value="Ha">hartrees (Ha)</option>
    <option value="Ry">rydbergs (Ry)</option>
    <option value="eV">electron volts (eV)</option>
    <option value="J">joules (J)</option>
    <option value="cal">calories (cal)</option>
    <option value="kJ/mol">kJ/mol</option>
    <option value="kcal/mol">kcal/mol</option>
    <option value="cm-1">wavenumbers (cm-1)</option>
  </select>
</h3>
<script>
  import "../scripts/unitsSelector";
</script>
