---
import TabLayout from "../layouts/TabLayout.astro";
import { dynamic23Matrix, faussurierMatrix } from "../scripts/matrices";
import Matrix from "./Matrix.astro";
import SelectableMatrix from "./SelectableMatrix.astro";
---

<TabLayout tabName="Energies" id="vaoenergy-tab" isActive="true">
  <div id="matrices" class="horizontal-flex">
    <Matrix id="Calvin University -- Year" matrix={dynamic23Matrix} />
    <Matrix id="faussurier" matrix={faussurierMatrix} />
    <SelectableMatrix />
  </div>

  <!-- next element is where canvas gets attached -->
  <div id="eLevelsID"></div>

  <style>
    .horizontal-flex {
      display: flex;
      justify-content: space-around;
      padding-top: 8px;
      padding-bottom: 8px;
      margin: 8px;
      /* border: 1px solid red; */
      font-size: 1.15vw;
    }
  </style>
</TabLayout>

<script>
  import "../scripts/vaoEnergyTab";
  import "../scripts/energyDiagramsDisplay";
</script>
