---
import TabLayout from "../layouts/TabLayout.astro";
import ElementsTable from "./ElementsTable.astro";
import IonizationEnergy from "./IonizationEnergy.astro";
import UnitsSelector from "./UnitsSelector.astro";
import VAOEnergyTab from "./VAOEnergyTab.astro";
---

<TabLayout tabName="Virial Atomic Orbitals" id="virialaos-tab">
  <ElementsTable id="virialaos" />
  <UnitsSelector />

  <!-- sub tabs -->
  <div class="tabs-wrapper">
    <ul class="nav-tabs">
      <li class="tab is-active" data-target="#vaoenergy-tab">VAO Energy</li>
      <li class="tab" data-target="#ionization-energy-tab">
        Ionization Energy
      </li>
    </ul>
    <VAOEnergyTab />
    <IonizationEnergy />
  </div>
</TabLayout>
