html {
    background: #bababa;
    background-size: cover;
    height: 100%;
    font-family: Lato, "Helvetica Neue", Helvetica, Arial, sans-serif;
}

body {
    width: 90%;
    width: 90vw;
    margin: 1vh auto;
    color: black;
}

h1 {
    text-align: center;
    font-size: 2.5rem;
    color: #FFF;
}

.wrapper {
    display: flex;
    flex-direction: column;
}

.innerTop {
    flex-direction: row;
}

.elements {
    font-size: 1.15vw;
    width: 70%;
    float: left;
}

.key {
    display: none;
}

.row {
    display: flex;
    text-align: center;
    justify-content: space-around;
}

.f-block .row {
    justify-content: flex-end;
}

.element {
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 5vw;
    color: black;
    box-sizing: border-box;
    border-radius: 3px;
    border-width: 1px;
    border-style: solid;
    border-color: black;
    margin: 1px;
    text-decoration: none;
    transition: background-color 0.2s, transform 0.2s;
    aspect-ratio: 1;
}

.element.ptable:hover {
    box-shadow: 2px 2px 5px;
    transform: scale(1.1);

}

.element.clicked {
    box-shadow: 2px 2px 5px;
    transform: scale(1.2);
}

.element.empty-element {
    border-style: none;
}

.element.group-12 {
    background-color: #6480ba;
}

.element.group-12.ptable:hover {
    transform: scale(1.1);
    background-color: #6699ff;
}

.description.group-base {
    background-color: rgba(225, 170, 173, 0.5);
}

.description.group-base.ptable:hover {
    background-color: rgba(212, 132, 137, 0.8);
}

.key li.group-base:before {
    background-color: #d48489;
}

.hover-group-base .element {
    opacity: .5;
}

.hover-group-base .element.group-base {
    opacity: 1;
}

.element.group-transition {
    background-color: #eb4848;
}

.element.group-transition.ptable:hover {
    background-color: #f86c6c;
}

.element.group-nm {
    background-color: #ffcc00;
}

.element.group-nm.ptable:hover {
    background-color: #e1deaa;
}

.element.group-la {
    background-color: #00cc33;
}

.element.group-la.ptable:hover {
    background-color: #d7e1aa;
}

.detailedView {
    padding: 4%;
    width: 20%;
    display: inline-block;
    justify-content: space-evenly;
    font-family: 'Times New Roman', Times, serif;
}

.detailedView .element {
    flex: 5vw;
    color: black;
    box-sizing: border-box;
    border-radius: 3px;
    border-width: 1px;
    border-style: solid;
    border-color: black;
    margin: 1px;
    text-decoration: none;
    aspect-ratio: 1;
}

.detailedView .aNumber {
    font-size: 2.4vw;
    margin-bottom: 2%;
}

.detailedView .aName {
    font-size: 2.5vw;
    margin: 2%;
}

.detailedView .aSymbol {
    font-size: 4vw;
    font-weight: bold;
    margin: 2%;
}

.detailedView .aMass {
    font-size: 2vw;
    margin: 2%;
}

.textInput {
    background-color: #00000000;
    border: solid 1px;
    border-color: black;
}

.energyLevels {
    display: inline-block;
    margin: auto;
    width: 50%;
    text-align: center;
}

.orbital {
    margin-left: auto;
    margin-right: auto;
}

.energyLevels img {
    width: 8%;
    aspect-ratio: 1;
}